# Cloudinary Setup
# 1. Visit https://cloudinary.com/ and get API Environment variable
# Ex: cloudinary://API_KEY:API_SECRET@CLOUD_NAME
CLOUDINARY_URL="cloudinary://my_key:my_secret@my_cloud_name"
TZ="Asia/Taipei"

ALWAYS_HTTPS="false"