# Cloudinary Setup
# 1. Visit https://cloudinary.com/ and get API Environment variable
# Ex: cloudinary://API_KEY:API_SECRET@CLOUD_NAME
CLOUDINARY_URL="cloudinary://my_key:my_secret@my_cloud_name"
TZ="Asia/Taipei"

ADMIN_USER=YOUR_ADMIN_USERNAME
#   uv add bcrypt
#   uv run python -c "import bcrypt; print(bcrypt.hashpw(b'你的密碼', bcrypt.gensalt()).decode())"
ADMIN_PASSWORD_HASH=YOUR_ADMIN_PASSWORD_HASH
#   uv run python -c "import secrets; print(secrets.token_urlsafe(32))"
SESSION_SECRET=YOUR_SESSION_SECRET

ALWAYS_HTTPS="false"