<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Exam Countdown{% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
    <nav>
        <a href="/config">Configuration</a>
        <a href="/logs">Logs Explorer</a>
        <a href="/test">Test</a>
    </nav>
    <main>
        {% if message %}<div class="">{{ message }}</div>{% endif %}
        {% if error %}<div class="">{{ error }}</div>{% endif %}
        {% block content %}{% endblock %}
    </main>
</body>

</html>